{port_specs, [
    {"priv/basho_metrics_nifs.so", ["c_src/*.cpp"]}
]}.

{port_env, [
    {".*", "CXXFLAGS", "$CXXFLAGS -O2 -g0 -Ic_src/boost -Ic_src/boost.atomic"},
    {".*", "LDFLAGS", "$LDFLAGS -lstdc++"}
]}.

{post_hooks, [
    {compile, "/usr/bin/strip priv/basho_metrics_nifs.so"}
]}.

{erl_opts, []}.
